
.btn {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 5px;
  border-color: var(--color-primary);

}

.btn:hover {
  background-color: var(--color-primary);
  color: #fff;
  border-color: var(--color-primary);
}
